/* @import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css'); */

*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    background-color: antiquewhite;
    height: 7vh;
}



#cart{

    display: flex;
    color: gray;
    margin-top: 10px;
   font-size:x-large;
}

.body-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.forms{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.navs{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.body{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 15px;
    font-size: larger;
    width: 30vw;
    margin-top: 20px;
    padding: 19px;
    background-color: cadetblue;
    box-shadow: rgb(221, 169, 169);
    border-radius: 15PX;
}

#Admin-area{
    display: flex;
    padding: 10px;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    border-radius: 4px;
    color: rgb(28, 95, 220);
    margin-bottom: 5px;
}

#area{
    background-image: url('https://24slides.com/templates/assets/templates-previews/8W3JfzOpJiNZBnDYXHpQ3TGSMiZSG782uNXuAsrA.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    padding: 53.5px;
    background-color: rgb(24, 232, 239);
    height: 100%;
    font-family: 'Arial', sans-serif;

}

#profile-image img {
    width: 100px; 
    height: 10vh;
    border-radius: 50%; 
    
}

.body button {
    padding: 10px;
    color: black;
    font-size: larger;
}

#profile-image{
    margin-left: 30PX;
}

.body button:hover{
    color: rgb(27, 161, 209);
    cursor: pointer;
}

#two-forms{
    display: flex;
    align-items: flex-start;
    gap: 175px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
  }
  
  td, th {
    border: 1px solid #5404d4;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }


